<!DOCTYPE html>
<html>
<body style="background:#111;color:white">

<header>
    <a href="/profile" class="profile-mini">
        {% if user.avatar.startswith('avatars/') %}
            <img src="{{ url_for('static', filename=user.avatar) }}" class="avatar-img">
        {% else %}
            <img src="{{ url_for('uploads', filename=user.avatar) }}" class="avatar-img">
        {% endif %}
        {{ short_name }}
    </a>
    <a href="/logout">Logout</a>
</header>

<h1 style="text-align:center">Welcome {{ user.username }} 👋</h1>

</body>
</html>
